<div id="cards" class="row">
  <div class="large-12 column">
    <div id="card-filter">
      <ul>
        <li ng-repeat="hero in heroFilters" 
		class="{{hero.value}}"
		ng-class="{current:currentHeroFilter === hero.value}">
          <a href="" ng-click="setHeroFilter(hero)" ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-12 column" style="z-index: 1;">
    <div class="prev-page" ng-click="previousPage()" ng-show="canGoPrevious()"></div>
    <div class="hero-filter {{ currentHeroFilter }}">
      <span>{{currentHeroFilter | capitalize}}</span>
    </div>
    <div id="card-book">
      <div class="card card-animation" ng-repeat="card in cards | filter:searchQuery">
        <img alt="{{ card.name }}" ng-src="{{ card.image_url }}" ng-click="detailViewFor(card)">
      </div>
    </div>
    <div class="page-num">
      <span>Page {{ currentPage  + 1 }} of {{  totalPages }} </span>
    </div>
    <div class="next-page" ng-click="nextPage()" ng-show="canGoNext()"></div>
  </div>
  <div class="large-12 column">
    <div id="card-book-mana-filter" blurs-if-state-is-detailed>
      <ul>
        <li ng-repeat="mana in manaFilters" class="{{mana.label}}"
		ng-class="{current: currentManaFilter === mana.value}"
		>
          <a href="" ng-click="setManaFilter(mana.value)">{{mana.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div ui-view></div>
</div>
